<!DOCTYPE html>
<html>
<head>
	<title>Zephyr</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/styles.css">

</head>
<body ng-app="zephyr">
	<div class="container-fixed ">
		<div class="row clearfix">
			<div class="col-md-12 column">
				ANGULAR IS RUNNING? {{1+1}}
			</div>
			<div class="col-md-12 column">
				<form class="form-horizontal" role="form" ng-controller = "flightEntry as vmFlightEntry">
					<div class="form-group">
						 <label for="inputEmail3" class="col-sm-2 control-label">Flight No.</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputFlight" ng-model="vmFlightEntry.FlightFactory.flight"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							 <button type="submit" class="btn btn-default" ng-click="vmFlightEntry.submit()">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
	<script	type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular-route.js"></script>
	<script	type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular-cookies.js"></script>
	<script	type="text/javascript" src="./app/modules/ui-bootstrap-0.12.1.js"></script>
	<script	type="text/javascript" src="./app/zephyr.js"></script>
	<script	type="text/javascript" src="./app/controllers/flightEntry.controller.js"></script>
	<script	type="text/javascript" src="./app/factories/flight.factory.js"></script>
</body>
</html>