<div class="sideView">
	<h1>ZEPHYER</h1>
</div>
	
<div class="mainView">
	<form class="form-horizontal" role="form" ng-controller = "flightEntry as vmFlightEntry">
		<div class="form-group">
			<label for="inputFlight">Airport</label>
			
			<input type="text" class="form-control input-lg" id="inputFlight" ng-model="vmFlightEntry.airport"/>
			
			<label for="inputFlight">Flight No.</label>
			<input type="text" class="form-control input-lg" id="inputFlight" ng-model="vmFlightEntry.FlightFactory.flight"/>
		</div>
		<div class="buttons">
			<button type="submit" class="btn btn-success btn-lg" ng-click="vmFlightEntry.trackFlight('dep', vmMain)">Departure</button> 
			<button type="submit" class="btn btn-success btn-lg" ng-click="vmFlightEntry.trackFlight('arr', vmMain)">Arrival</button>
		</div>
	</form>
</div>