<div class="sideView">
	<h1>ZEPHYR</h1>
	<p>This could be some helping text</p>
</div>
	
<div class="mainView">
	<form class="form-horizontal" role="form" ng-controller = "flightEntry as vmFlightEntry">
		<div class="form-group">
			<h3>Airport Code</h3>
			
			<input type="text" class="form-control input-lg" id="inputFlight" placeholder="DTW" ng-model="vmFlightEntry.airport"/>

			<p class="text-center trimBottom">-or-</p>
			
			<h3 class="trimTop">Flight No.</h3>
			<input type="text" class="form-control input-lg" id="inputFlight" placeholder="DL 2024" ng-model="vmFlightEntry.FlightFactory.flight"/>
		</div>
		<div class="buttons">
			<button class="landingBtnFirst" ng-click="vmFlightEntry.trackFlight('dep', vmMain)">Departure</button> 
			<button class="landingBtn" ng-click="vmFlightEntry.trackFlight('arr', vmMain)">Arrival</button>
		</div>
		<div class="row text-center">
			<button class="glyphicon glyphicon-bullhorn btn-lg btn-link" ng-click="vmFlightEntry.listenCommand()"> </button>
		</div>
	</form>
</div>