<div class="col-md-12 column" ng-controller="flightSearchController as flightSearch">
	<h3>{{flightSearch.msg}}</h3>
	<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Flight</th>
					<th>Airport</th>
					<th>Time</th>
				</tr>
			</thead>
		
			<tbody ng-if="!flightSearch.arrival">
				<tr ng-click="flightSearch.selectFlight(flight)" ng-repeat="flight in flightSearch.flightFactory.flightsAtAirport | limitTo:4:((flightSearch.currentPage - 1) * 4)">
					<td tooltip="{{flightSearch.getAirlineName(flight.carrierFsCode)}}" tooltip-append-to-body="true">{{flight.carrierFsCode}} {{flight.flightNumber}}</td>
					<td tooltip="{{flightSearch.getAirportName(flight.departureAirportFsCode)}}" tooltip-append-to-body="true">{{flight.departureAirportFsCode}}</td>
					<td>{{flight.operationalTimes.publishedArrival.dateLocal | date : 'EEE, MMM dd @ h:mma'}}</td>
				</tr>
			</tbody>	

			<tbody ng-if="flightSearch.arrival">
				<tr ng-click="flightSearch.selectFlight(flight)" ng-repeat="flight in flightSearch.flightFactory.flightsAtAirport | limitTo:4:((flightSearch.currentPage - 1) * 4)">
					<td tooltip="{{flightSearch.getAirlineName(flight.carrierFsCode)}}" tooltip-append-to-body="true">{{flight.carrierFsCode}} {{flight.flightNumber}}</td>
					<td tooltip="{{flightSearch.getAirportName(flight.arrivalAirportFsCode)}}" tooltip-append-to-body="true">{{flight.arrivalAirportFsCode}}</td>
					<td>{{flight.operationalTimes.publishedDeparture.dateLocal | date: 'EEE, MMM dd @ h:mma'}}</td>
				</tr>
			</tbody>
		</table>
		<pagination total-items="flightSearch.flightFactory.flightsAtAirport.length" ng-model="flightSearch.currentPage" items-per-page="flightSearch.itemsPerPage" class="pagination-sm" boundary-links="true"></pagination>
</div>