<div class="sideView">
	<h1>ZEPHYR</h1>
	<p ng-click="vmMain.openHelper('md')">Voice Commands</p>
</div>
	
<div class="mainView" ng-controller="flightSearchController as vmFlightSearch">
		<h3>Airline Code</h3>
		<input type="text" class="form-control input-lg" id="inputAirline" placeholder="Uninted" ng-model="vmFlightSearch.airline"/>

		<div class="list-group flightSelect" ng-hide="vmFlightSearch.flightFactory.arrival">
			<a ng-href="" ng-click="vmFlightSearch.selectFlight(flight)"class="list-group-item" ng-repeat="flight in vmFlightSearch.flightFactory.flightsAtAirport | filter:{'carrierFsCode': vmFlightSearch.airline} | limitTo:4:((vmFlightSearch.currentPage - 1) * 4)">
				<p class="trimBottom">
			    Flt {{flight.carrierFsCode}}{{flight.flightNumber}}to {{flight.arrivalAirportFsCode}}  <span class="pull-right">Posted Departure {{flight.operationalTimes.publishedDeparture.dateLocal | date:"h:mma"}}</span>
			    </p>
			</a>
			<pager total-items="vmFlightSearch.flightFactory.flightsAtAirport.length" ng-model="vmFlightSearch.currentPage" previous-text='<' next-text='>'></pager>
		</div>
		<ul class="list-group flightSelect" ng-show="vmFlightSearch.flightFactory.arrival">
			<a ng-click="vmFlightSearch.selectFlight(flight)" class="list-group-item" ng-class="{'last':$last}" ng-repeat="flight in vmFlightSearch.flightFactory.flightsAtAirport | filter:{'carrierFsCode': vmFlightSearch.airline} | limitTo:4:((vmFlightSearch.currentPage - 1) * 4)">
				<p class="trimBottom">
			    Flt {{flight.carrierFsCode}}{{flight.flightNumber}} from {{flight.departureAirportFsCode}}  <span class="pull-right">Posted Arival {{flight.operationalTimes.publishedArrival.dateLocal | date:"h:mma"}}</span>
			    </p>
			</a>
			<pager total-items="vmFlightSearch.flightFactory.flightsAtAirport.length" ng-model="vmFlightSearch.currentPage" previous-text='<' next-text='>'></pager>
		</ul>
</div>